#contact {
    grid-area: contact;
}

#contact-form {
    padding-bottom: 20px;
    margin: auto;
    width: 50%;
    display: grid;
    gap: 10px;
    grid-template-areas: "name name" "mail mail" "title title" "message message" "button button";
}

#contact-form div {
    display: grid;
    width: 100%;
}

#contact-form label {
    padding-bottom: 5px;
}

#form-btn {
    grid-area: button;
    height: 28px;
}

#form-mail {
    grid-area: mail;
}

#form-name {
    grid-area: name;
}

#form-title {
    grid-area: title;
}

#form-message {
    grid-area: message;
}