@import url("header.css");
@import url("navbar.css");
@import url("carroussel.css");
@import url("partners.css");
@media screen and (min-width:1024px) {
    main {
        display: grid;
        grid-template-areas: "header" "navbar" "carroussel" "presentation" "localization" "keys" "reviews" "partners" "contact";
        grid-template-rows: auto;
    }
}