:root {
    --baby-blue-eyes: #a0c4ff;
    --light-pink: #ffadad;
    --deep-champagne: #ffd6a5;
    --lemon-yellow-crayola: #fdffb6;
    --tea-green: #caffbf;
    --celeste: #9bf6ff;
    --maximum-blue-purple: #bdb2ff;
    --mauve: #ffc6ff;
    --baby-powder: #fffffc;
    --charcoal: #264653;
    --persian-green: #2A9D8F;
    --orange-yellow-crayola: #E9C46A;
    --sandy-brown: #F4A261;
    --burnt-sienna: #E76F51;
    --paradise-pink: #ef476f;
    --caribean-green: #06d6a0;
}