@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
    font-family: 'Roboto', sans-serif;
}

:root,
main {
    background-color: cadetblue;
}

#basic-navbar-nav,
#top-nav {
    background-color: cadetblue;
    padding: 5px;
    font-size: 1.2em;
}

#city-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-content: center;
}

#city-grid {
    font-size: 1.2em;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: center;
}

#map-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#map {
    min-height: 400px;
    min-width: 400px;
    height: fit-content;
    width: fit-content;
    background-size: contain;
    background-repeat: no-repeat;
}

#key-figures {
    display: flex;
    flex-direction: row;
}

#key-figures * {
    flex: auto;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: cadetblue;
    text-align: center;
}

#reviews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.review-text {
    width: fit-content;
}

.card {
    margin: 10px;
}

.carousel-caption {
    left: 0px !important;
    background-color: rgba(0, 0, 0, .70);
    width: 100%;
}

#reviews .card {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#partners-logos {
    display: grid;
    grid-template-columns: repeat(6, auto);
    align-items: center;
    gap: 10px;
}

#partners-logos .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer div {
    text-align: center;
    justify-content: center;
    align-items: center;
}